body {
  background-color: black;
  margin: 100px;
  font-family: 'Tohama';
}

.MainBody {
  background-color: white;
  float: left;
}

h1 {
  text-align: center;
}

.HeroInfo {
  background-color: white;
  text-align: justify;
}


