body {
  background-color: black;
  margin: 100px;
  font-family: 'Tohama';
}

.MainBody, .HeroInfo {
  background-color: white;
  align-content: center;
  text-align: justify;
}

h1 {
  text-align: center;
}



